<h2><%= @user.name %> 様</h2>
<p>この度は、お問い合わせありがとうございました。<br>
こちらからホームページ作成依頼をすることができます。<br>
https://coconala.com/services/1322209?ref=top_favorites&ref_kind=home&ref_no=1
</p>


<p>今後ともMOTIHOMESをよろしくお願いいたします。</p>